@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
/* ******************************************************** */
.cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

/*.crest {
  opacity: 0;
  transform: translateX(10px);
}*/
.exemplar {
  opacity: 0;
  transform: translateX(10px);
}

.name {
  opacity: 0;
  transform: translateX(10px);
}

.lede {
  opacity: 0;
}

.url {
  opacity: 0;
}

.circle {
  opacity: 0;
  transform: scale(0.98);
}

body.bring-in {
  /*
  .exemplar .slider {
    width: 65%;
    transition: width 0.4s ease-out 0.3s;
  }

  .name .slider {
    width: 0;
    transition: width 0.4s ease-out 0.6s;
  }
  */
}
body.bring-in .crest .slider {
  width: 0;
  transition: width 0.4s ease-out;
}
body.bring-in .crest {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
body.bring-in .exemplar {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-out 0.3s;
}
body.bring-in .name {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-out 0.6s;
}
body.bring-in .lede {
  opacity: 1;
  transition: all 0.8s ease-out 1.8s;
}
body.bring-in .url {
  opacity: 1;
  transition: all 0.8s ease-out 2.3s;
}
body.bring-in .circle {
  opacity: 1;
  transform: scale(1);
  transition: all 0.8s ease-out 3s;
}

body.slide-out .cover {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

/* ******************************************************** */
/* UGH. */
#preload {
  visibility: hidden;
  position: absolute;
  left: -999em;
  top: -999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* ******************************************************** */
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: normal;
  font-size: 200%;
  line-height: 1;
  color: #0b0c0c;
  background-color: white;
  text-rendering: opitimizeLegibility;
}
@media (min-width: 1900px) {
  body {
    font-size: 250%;
  }
}

p {
  line-height: 1.4;
}

img {
  max-width: 100%;
}

/* ******************************************************** */
.item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4.5%;
}

.details, .data {
  display: table-cell;
  vertical-align: top;
}

/* ******************************************************** */
.crest {
  position: relative;
  width: 16%;
}

.url {
  position: absolute;
  bottom: 9%;
}

/* ******************************************************** */
.details {
  width: 66.666%;
  padding-top: 7%;
}

.exemplar {
  position: relative;
  font-size: 110%;
  color: #bfc1c3;
}

.name {
  position: relative;
  font-size: 140%;
  font-weight: bold;
  letter-spacing: -0.005em;
}

.phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d53880;
  font-size: 75%;
  margin: 0 0 0 0.2em;
}
@media (min-width: 641px) {
  .phase-tag {
    vertical-align: baseline;
  }
}
@media (max-width: 640px) {
  .phase-tag {
    font-size: 14px;
    line-height: 1.14286;
  }
}
.phase-tag.beta {
  background-color: #f47738;
}
.phase-tag.live {
  background-color: #85994b;
}
.phase-tag.public {
  color: #0b0c0c;
  background-color: transparent;
  margin: 0;
}

.lede {
  margin-right: 9%;
}

/* ******************************************************** */
.data {
  width: 33.333%;
  padding: 0 3%;
}

.circle {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 5.5%;
  padding-bottom: 100%;
  border-radius: 100%;
  background-color: #dee0e2;
  color: #0b0c0c;
  text-align: center;
}

.inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 36.5% 0 0 0;
}
.inner:after {
  content: '';
  display: block;
  padding-top: 100%;
}

#number {
  font-size: 350%;
  letter-spacing: -0.025em;
  line-height: 0.5;
  font-weight: bold;
}
@media (min-width: 1900px) {
  #number {
    font-size: 425%;
  }
}

.caption {
  font-size: 90%;
  line-height: 1.2;
  color: #6f777b;
  padding: 2% 5% 0 5%;
}

#circle-cover {
  visibility: hidden;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
